<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      sec:authorize="hasAuthority('ADMIN')">

<div th:insert="parts/_header :: header"></div>
<div th:insert="parts/_menu :: menu"></div>

<style>
    div.block {
        display: inline-block;
        max-width: 100%;
        height: auto;
        padding-left: 10px;
    }
</style>

<body>

<div style="margin-left:20px" class="ui mini breadcrumb">
    <a class="section" href="/">Home</a>
    <i class="right angle icon divider"></i>
    <div class="active section">Add news</div>
</div>
<div class="ui basic segment">
    <h3 class="ui dividing header" th:if="${modification.altName} == null OR ${modification.altName} == ''"
        th:text="${modification.bodyType.generation.manufacturer.name} + ' ' +
                                                    ${modification.bodyType.generation.carmodel.name} + ' ' +
                                                    ${modification.name}">
    </h3>
    <h3 class="ui dividing header" th:if="${modification.altName} != null AND ${modification.altName} != ''"
        th:text="${modification.bodyType.generation.manufacturer.name} + ' ' +
                                                    ${modification.altName}">
    </h3>


    <form class="ui form" action="#" th:action="@{/articleCreate}" th:object="${article}" method="post"
          enctype="multipart/form-data">

        <div class="four column stackable ui grid">
            <div class="column">
                <img class="ui large image" th:src="@{'/img/' + ${modification.bodyType.generation.manufacturer.name} +
                '/' + ${modification.bodyType.generation.carmodel.name} + '/' + ${modification.carPhoto.name}}" alt="">
                <p></p>
                <select class="ui dropdown" th:field="*{status}">
                    <option value="">Status</option>
                    <option value="New model">New model</option>
                    <option value="New version">New version</option>
                    <option value="New generation">New generation</option>
                    <option value="Facelift">Facelift</option>
                    <option value="Concept car">Concept car</option>
                </select>
            </div>
            <div class="column">
                <table class="ui very basic table">
                    <tbody>
                    <tr th:if="${modification.engine}">
                        <td>Engine</td>
                        <td th:text="${modification.engine.name}"></td>
                    </tr>
                    <tr th:if="${modification.gearBox}">
                        <td>Gearbox</td>
                        <td th:text="${modification.gearBox.name}"></td>
                    </tr>
                    <tr th:if="${modification.body}">
                        <td>Body</td>
                        <td th:text="${modification.body.name}"></td>
                    </tr>
                    <tr th:if="${modification.drive}">
                        <td>Drive</td>
                        <td th:text="${modification.drive.name}"></td>
                    </tr>
                    <tr th:if="${modification.maxSpeed} != ''">
                        <td>Maxspeed</td>
                        <td th:text="${modification.maxSpeed}"></td>
                    </tr>
                    <tr th:if="${modification.power} != ''">
                        <td>Power (hp)</td>
                        <td th:text="${modification.power}"></td>
                    </tr>
                    <tr th:if="${modification.torque} != ''">
                        <td>Torque (N*m)</td>
                        <td th:text="${modification.torque}"></td>
                    </tr>
                    <tr th:if="${modification.engineVolume} != ''">
                        <td>Volume (l)</td>
                        <td th:text="${modification.engineVolume}"></td>
                    </tr>
                    <tr th:if="${modification.acceleration} != ''">
                        <td>Acceleration</td>
                        <td th:text="${modification.acceleration}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="column">
                <table class="ui very basic table">
                    <tbody>
                    <tr th:if="${modification.length} != ''">
                        <td>Length (mm)</td>
                        <td th:text="${modification.length}"></td>
                    </tr>
                    <tr th:if="${modification.height} != ''">
                        <td>Height (mm)</td>
                        <td th:text="${modification.height}"></td>
                    </tr>
                    <tr th:if="${modification.width} != ''">
                        <td>Width (mm)</td>
                        <td th:text="${modification.width}"></td>
                    </tr>
                    <tr th:if="${modification.base} != ''">
                        <td>Wheelbase (mm)</td>
                        <td th:text="${modification.base}"></td>
                    </tr>
                    <tr th:if="${modification.weight} != ''">
                        <td>Weight (kg)</td>
                        <td th:text="${modification.weight}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="ui divider"></div>

        <div class="block ui small images " th:each="ph: ${modification.carPhotos}">
            <div>
                <a th:href="@{'/img/' + ${modification.bodyType.generation.manufacturer.name} +
                '/' + ${modification.bodyType.generation.carmodel.name} + '/' + ${ph.name}}" data-fancybox="gallery">
                    <img th:src="@{'/img/' + ${modification.bodyType.generation.manufacturer.name} +
                '/' + ${modification.bodyType.generation.carmodel.name} + '/' + ${ph.name}}">
                </a>
            </div>
        </div>
        <div></div>
        <button class="ui button" type="submit">Post</button>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
</div>
<div th:insert="parts/_footer :: footer"></div>
<script>
    $('.ui.dropdown')
        .dropdown()
    ;
</script>
</body>
</html>