<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      sec:authorize="hasAuthority('ADMIN')">

<div th:insert="parts/_header :: header"></div>
<div th:insert="parts/_menu :: menu"></div>

<body>

<div style="margin-left:20px" class="ui mini breadcrumb">
    <a class="section" href="/">Home</a>
    <i class="right angle icon divider"></i>
    <div class="active section">Add news</div>
</div>

<div class="ui raised very padded text container segment">
    <form class="ui form" action="#" th:action="@{/articleCreate}" th:object="${article}" method="post" enctype="multipart/form-data">

        <div class="field">
            <label>Heading</label>
            <input type="text" name="heading" placeholder="Heading" th:field="*{heading}">
        </div>
        <div class="ui form error" >
            <div class="ui error message" th:if="${headingError}">
                <div class="header">Error!</div>
                <p th:text="${headingError}"></p>
            </div>
        </div>

        <div class="field">
            <label>Text</label>
            <textarea type="text" name="text" placeholder="Text" th:field="*{text}"></textarea>
        </div>
        <div class="ui form error" >
            <div class="ui error message" th:if="${textError}">
                <div class="header">Error!</div>
                <p th:text="${textError}"></p>
            </div>
        </div>
        <div class="field">
            <label>Car</label>
            <select class="ui search dropdown" id="modification" th:field="*{modification}">
                <option value="0"></option>
                <option th:each="modification : ${modifications}"
                        th:value="${modification.id}"
                        th:text="${modification.bodyType.generation.manufacturer.name} + ' ' +
                                 ${modification.bodyType.generation.carmodel.name} + ' ' +
                                 ${modification.name} + ' ' +
                                 ${modification.bodyType.generation.name} ">
                </option>
            </select>
        </div>
        <div class="ui form error" >
            <div class="ui error message" th:if="${modificationError}">
                <div class="header">Error!</div>
                <p th:text="${modificationError}"></p>
            </div>
        </div>

        <button class="ui button" type="submit">Add</button>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>
</div>
<div th:insert="parts/_footer :: footer"></div>
</body>
</html>