<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" sec:authorize="hasAuthority('ADMIN')">

<div th:insert="parts/_header :: header"></div>
<div th:insert="parts/_menu :: menu"></div>

<body>

<div style="margin-left:20px" class="ui mini breadcrumb">
    <a class="section" href="/">Home</a>
    <i class="right angle icon divider"></i>
    <a class="section" href="/adminPage">Administration</a>
    <i class="right angle icon divider"></i>
    <a class="section" href="/bodyList">Body list</a>
    <i class="right angle icon divider"></i>
    <div class="active section">Add body</div>
</div>

<div class="ui raised very padded text container segment">
    <form class="ui form" action="#" th:action="@{/bodyCreate}" th:object="${body}"
          method="post" enctype="multipart/form-data">
        <div class="field">
            <label>Brand</label>
            <select class="ui search dropdown" id="manufacturer" th:field="*{manufacturer}">
                <option value="0"></option>
                <option th:each="manufacturer : ${manufacturers}"
                        th:value="${manufacturer.id}"
                        th:text="${manufacturer.getName()}">
                </option>
            </select>
        </div>
        <div class="field">
            <label>Body</label>
            <input type="text" name="name" placeholder="Body" th:field="*{name}">
        </div>
        <button class="ui button" type="submit">Add</button>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>
</div>
<script>
    $('.ui.dropdown').dropdown();
</script>
<div th:insert="parts/_footer :: footer"></div>
</body>
</html>