<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<div th:insert="parts/_header :: header"></div>
<div th:insert="parts/_menu :: menu"></div>

<style type="text/css">
    li {
        display: inline
    }
</style>

<body>

<div class="ui internally celled stackable grid">
    <div class="ten wide column">
        <h1 class="ui header">Latest cars</h1>
        <div class="ui divided items">
            <div class="item" th:each="article, iStat : ${articlePage.content}">
                <a class="image" th:href="@{/articleOpen/{id}(id=${article.id})}">
                    <img th:src="@{'/img/' + ${article.modification.photo}}">
                </a>
                <div class="content">
                    <a class="header" th:if="${article.modification.altName} == null OR ${article.modification.altName} == ''"
                       th:href="@{/articleOpen/{id}(id=${article.id})}"
                       th:text="${article.modification.bodyType.generation.manufacturer.name} + ' ' +
                                                    ${article.modification.bodyType.generation.carmodel.name} + ' ' +
                                                    ${article.modification.name}"></a>
                    <a class="header" th:if="${article.modification.altName} != null AND ${article.modification.altName} != ''"
                       th:href="@{/articleOpen/{id}(id=${article.id})}"
                       th:text="${article.modification.bodyType.generation.manufacturer.name} + ' ' + ${article.modification.altName}"></a>
                    <div class="extra" th:text="${article.date}">
                    </div>
                    <div class="meta">
                        <span></span>
                    </div>
                    <div class="description">
                        <div class="ui green label"
                             th:if="${article.modification.electric}">Electric car</span>
                        </div>
                        <div class="ui blue label"
                             th:if="${article.modification.hybrid}">Hybrid</span>
                        </div>
                        <div class="ui orange label"
                             th:if="${article.status} == 'New model'">New model</span>
                        </div>
                        <div class="ui yellow label"
                             th:if="${article.status} == 'New version'">New version</span>
                        </div>
                        <div class="ui olive label"
                             th:if="${article.status} == 'New generation'">New generation</span>
                        </div>
                        <div class="ui teal label"
                             th:if="${article.status} == 'Facelift'">Facelift</span>
                        </div>
                        <div class="ui purple label"
                             th:if="${article.status} == 'Concept car'">Concept car</span>
                        </div>
                        <div class="ui violet label" th:if="${article.modification.spec}"
                             th:text="${article.modification.spec.name}"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div th:if="${articlePage.totalPages > 0}" class="ui pagination menu"
             th:each="pageNumber : ${pageNumbers}">
            <a th:if="${pageNumber==articlePage.number + 1}"
                    th:href="@{/(size=${articlePage.size}, page=${pageNumber})}" th:text="${pageNumber}"
               class="active item">
            </a>
            <a th:if="${pageNumber!=articlePage.number + 1}"
               th:href="@{/(size=${articlePage.size}, page=${pageNumber})}" th:text="${pageNumber}"
               class="item">
            </a>
        </div>
    </div>
    <div class="six wide column">
        <div class="row">
            <h2 class="ui header">
                <i class="database icon"></i>
                <div class="content">
                    Database
                    <div class="sub header">statistics</div>
                </div>
            </h2>
        </div>
    </div>
</div>

<div th:insert="parts/_footer :: footer"></div>

<script>
    $(document).ready(function () {
        console.log("Hello");
    });
</script>

<script>
    $('.button').popup();
</script>

</body>

</html>