<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<div th:insert="parts/_header :: header"></div>
<div th:insert="parts/_menu :: menu"></div>

<style>
    div.block{
        display:inline-block;
        max-width: 100%;
        height: auto;
        padding-left: 10px;
    }
</style>

<div style="margin-left:20px" class="ui mini breadcrumb">
    <a class="section" href="/">Home</a>
    <i class="right angle icon divider"></i>
    <a class="section" href="/catalog">Catalog</a>
    <i class="right angle icon divider"></i>
    <a class="section" th:href="@{/manufacturer/{id}(id =${generation.manufacturer.id})}"
       th:text="${generation.manufacturer.name}"></a>
    <i class="right angle icon divider"></i>
    <a class="section" th:href="@{/manufacturer/generations/{id}(id = ${generation.carmodel.id})}"
       th:text="${generation.carmodel.name}"></a>
    <i class="right angle icon divider"></i>
    <a class="section" th:href="@{/restyles/{id}(id = ${generation.id})}" th:text="${generation.name}"></a>
    <i class="right angle icon divider"></i>
    <a class="section" th:if="${bodyType.restyle}"
       th:href="@{/catalog/manufacturer/carmodel/generation/{id}(id = ${generation.id})}"
       th:text="${bodyType.restyle.name}"></a>
    <i class="right angle icon divider" th:if="${bodyType.restyle}"></i>
    <div class="active section" th:text="${bodyType.bodyTypeName.name}"></div>
</div>

<h3 style="margin-left:20px; margin-right:20px" class="ui dividing header"
    th:if="${bodyType.restyle}"
    th:text="${generation.manufacturer.name} + ' ' + ${generation.carmodel.name} + ' ' +
             ${generation.name} + ' ' + ${bodyType.restyle.name} + ' ' + ${bodyType.bodyTypeName.name}">
</h3>
<h3 style="margin-left:20px; margin-right:20px" class="ui dividing header"
    th:if="${bodyType.restyle == null}"
    th:text="${generation.manufacturer.name} + ' ' + ${generation.carmodel.name} + ' ' +
             ${generation.name} + ' ' + ${bodyType.bodyTypeName.name}">
</h3>
<form style="margin-left: 20px; margin-bottom: 10px" th:action="@{/generationUpdate/{id}(id=${generation.id})}"
      sec:authorize ="hasAuthority('ADMIN')">
    <button class="ui basic button">
        <i class="edit icon"></i>
        Edit
    </button>
</form>
<p style="margin-left:20px; margin-right:20px" th:text="${generation.description}"></p>
<div style="margin-left: 20px; margin-right: 20px" class="ui divider"></div>
<form style="margin-left: 20px" action="/modificationCreate" sec:authorize ="hasAuthority('ADMIN')">
    <button class="ui basic button">
        <i class="plus icon"></i>
        Add car
    </button>
</form>
<div style="margin-left: 20px; margin-right: 20px" class="ui divider" sec:authorize ="hasAuthority('ADMIN')"></div>

<body>
<div style="margin-left:20px; margin-right:20px" class="ui segment">
    <div class="ui divided items">
        <div class="item" th:each="modification: ${modifications}">
            <div class="image">
                <a class="image" th:href="@{/restyles/modification/car/{id}(id=${modification.id})}">
                    <img class="ui small image" th:src="@{'/img/' + ${modification.photo}}">
                </a>
            </div>
            <div class="content">
                <a class="header" th:href="@{/restyles/modification/car/{id}(id=${modification.id})}"
                                  th:text="${modification.name}"></a>
                <div class="meta">
                    <span class="cinema" th:text="${modification.years}"></span>
                </div>
                <div class="description">
                    <p ></p>
                </div>
                <div class="extra">
                    <div class="ui label" th:text="${modification.body.name}"></div>
                    <div class="ui label" th:text="${modification.engine.name}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="parts/_footer :: footer"></div>

</body>
</html>