<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<div th:insert="parts/_header :: header"></div>
<div th:insert="parts/_menu :: menu"></div>
<body>

<div class="ui raised very padded text container segment">
    <h4 th:text="${user.username}"></h4>
    <form class="ui form" method="post" enctype="multipart/form-data">
        <img class="ui small centered circular image" th:src="@{'/img/' + ${user.avatar}}" alt="">
        <div class="field">
            <label>Change avatar</label>
            <input type="file" name="file">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password"/>
        </div>

        <div class="field">
            <label>E-mail</label>
            <input type="email" name="email" placeholder="mail@mail.com" th:value="${user.email}"/>
        </div>

        <button class="ui button" type="submit" style="margin-top: 20px">Save</button>

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>
</div>

<div th:insert="parts/_footer :: footer"></div>
</body>
</html>