<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      sec:authorize="hasAuthority('ADMIN')">

<div th:insert="parts/_header :: header"></div>
<div th:insert="parts/_menu :: menu"></div>

<body>

<div style="margin-left:20px" class="ui mini breadcrumb">
    <a class="section" href="/">Home</a>
    <i class="right angle icon divider"></i>
    <a class="section" href="/catalog">Catalog</a>
    <i class="right angle icon divider"></i>
    <a class="section" th:href="@{/catalog/manufacturer/{id}(id = ${bodyType.generation.manufacturer.id})}"
       th:text="${bodyType.generation.manufacturer.name}"></a>
    <i class="right angle icon divider"></i>
    <a class="section" th:href="@{/catalog/manufacturer/carmodel/{id}(id = ${bodyType.generation.carmodel.id})}"
       th:text="${bodyType.generation.carmodel.name}"></a>
    <i class="right angle icon divider"></i>
    <a class="section" th:href="@{/catalog/manufacturer/carmodel/generation/{id}(id = ${bodyType.generation.id})}"
                                th:text="${bodyType.generation.name}"></a>
    <i class="right angle icon divider"></i>
    <a class="section" th:if="${bodyType.restyle}"
       th:href="@{/catalog/manufacturer/carmodel/generation/{id}(id = ${bodyType.generation.id})}"
       th:text="${bodyType.restyle.name}"></a>
    <i class="right angle icon divider" th:if="${bodyType.restyle}"></i>
    <a class="section" th:href="@{/catalog/manufacturer/carmodel/generation/restyle/{id}(id = ${bodyType.id})}"
         th:text="${bodyType.bodyTypeName.name}"></a>
    <i class="right angle icon divider"></i>
    <div class="active section">Edit</div>
</div>

<div class="ui raised very padded text container segment">
    <form class="ui form" action="#" th:action="@{/restyleUpdate}" th:object="${bodyType}" method="post"
          enctype="multipart/form-data">
        <div class="field">
            <input readonly type="hidden" th:field="*{id}" id="id" placeholder="ID">
        </div>
        <div class="field">
            <input readonly type="hidden" th:field="*{generation}" id="generation">
        </div>
        <div class="field">
            <input readonly type="hidden" th:field="*{restyle}" id="restyle">
        </div>
        <div class="field">
            <label>Body type</label>
            <select class="ui search dropdown" id="bodyTypeName" th:field="*{bodyTypeName}">
                <option value="0"></option>
                <option th:each="bodyTypeName : ${bodyTypeNames}"
                        th:value="${bodyTypeName.id}"
                        th:text="${bodyTypeName.getName()}">
                </option>
            </select>
        </div>
        <div class="field">
            <label>Production</label>
            <input type="text" th:field="*{years}" id="years" placeholder="Production">
        </div>
        <div class="field">
            <label>Market</label>
            <select class="ui search dropdown" id="spec" th:field="*{spec}">
                <option value="0"></option>
                <option th:each="spec : ${specs}"
                        th:value="${spec.id}"
                        th:text="${spec.name}">
                </option>
            </select>
        </div>
        <div class="field">
            <label>Description</label>
            <textarea type="text" th:field="*{description}" id="description" placeholder="Description"></textarea>
        </div>
        <label>Фото</label>
        <div class="field">
            <input type="file" name="file">
        </div>
        <button class="ui button" type="submit">Сохранить</button>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>
</div>
<div th:insert="parts/_footer :: footer"></div>
</body>
</html>