<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<div th:insert="parts/_header :: header"></div>
<div th:insert="parts/_menu :: menu"></div>
<body>
<div style="margin-left:20px" class="ui mini breadcrumb">
    <a class="section" href="/">Home</a>
    <i class="right angle icon divider"></i>
    <a class="section" href="/autosport">Autosport</a>
    <i class="right angle icon divider"></i>
    <a class="section" th:href="@{/autosport/{name}(name=${series.name})}" th:text="${series.name}"></a>
    <i class="right angle icon divider"></i>
    <div class="active section">Results</div>
</div>

<div class="ui segment">
    <div class="ui grid">
        <div class="three wide column">
            <div class="ui vertical menu">
                <div class="item">
                    <div class="header" th:text="${series.getName()}"></div>
                    <div class="menu">
                        <a class="item" th:href="@{/autosport/{name}/calendar(name=${series.name})}">Calendar</a>
                        <a class="item active" th:href="@{/autosport/{name}/results(name=${series.name})}">Results</a>
                        <a class="item" th:href="@{/autosport/{name}/archive(name=${series.name})}">Archive</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="thirteen wide column">
            <div class="ui grid">
                <div class="twelve wide stretched column">
                    <div class="ui segment">
                        This is an stretched grid column. This segment will always match the tab height
                    </div>
                </div>
                <div class="four wide column">
                    <div class="ui vertical fluid right tabular menu">
                        <a class="active item">
                            Bio
                        </a>
                        <a class="item">
                            Pics
                        </a>
                        <a class="item">
                            Companies
                        </a>
                        <a class="item">
                            Links
                        </a>
                    </div>
                </div>
            </div>
            <table class="ui striped table">
                <thead>
                <tr>
                    <th>Position</th>
                    <th>Pilot</th>
                    <th>Navigator</th>
                    <th>Car</th>
                    <th>Class</th>
                    <th>Time</th>
                    <th>Gap</th>
                    <th>Out</th>
                    <th>Points</th>
                    <th>Bonus</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>John Lilki</td>
                    <td>September 14, 2013</td>
                    <td>jhlilk22@yahoo.com</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>Jamie Harington</td>
                    <td>January 11, 2014</td>
                    <td>jamieharingonton@yahoo.com</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>Jill Lewis</td>
                    <td>May 11, 2014</td>
                    <td>jilsewris22@yahoo.com</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>John Lilki</td>
                    <td>September 14, 2013</td>
                    <td>jhlilk22@yahoo.com</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>John Lilki</td>
                    <td>September 14, 2013</td>
                    <td>jhlilk22@yahoo.com</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>Jamie Harington</td>
                    <td>January 11, 2014</td>
                    <td>jamieharingonton@yahoo.com</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>Jill Lewis</td>
                    <td>May 11, 2014</td>
                    <td>jilsewris22@yahoo.com</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>John Lilki</td>
                    <td>September 14, 2013</td>
                    <td>jhlilk22@yahoo.com</td>
                    <td>No</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:insert="parts/_footer :: footer"></div>
</body>
</html>