<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<div th:insert="parts/_header :: header"></div>
<div th:insert="parts/_menu :: menu"></div>
<body>
<div style="margin-left:20px" class="ui mini breadcrumb">
    <a class="section" href="/">Home</a>
    <i class="right angle icon divider"></i>
    <a class="section" href="/autosport">Autosport</a>
    <i class="right angle icon divider"></i>
    <a class="section" th:href="@{/autosport/{id}(id=${series.id})}" th:text="${series.name}"></a>
    <i class="right angle icon divider"></i>
    <div class="active section">Calendar</div>
</div>

<div class="ui segment">
    <div class="ui grid">
        <div class="three wide column">
            <div th:insert="parts/_sidebar :: sidebar"></div>
        </div>

        <div class="thirteen wide column">
            <h3 class="ui dividing header">
                Calendar
            </h3>
            <form action="/raceCreate" sec:authorize ="hasAuthority('ADMIN')">
                <button class="ui basic button">
                    <i class="plus icon"></i>
                    Add race
                </button>
            </form>
            <table class="ui selectable celled table">
                <thead>
                <tr>
                    <th>Stage</th>
                    <th>Race</th>
                    <th>Country</th>
                    <th th:if="${series.name == 'Formula 1'}">Track</th>
                    <th>Dates</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="race: ${races}">
                    <td th:text="${race.stageNumber}"></td>
                    <td><a th:href="@{/autosport/raceResult/{id}(id=${race.id})}"
                           th:text="${race.name}"></a></td>
                    <td th:if="${race.country}" th:text="${race.country.name}"></td>
                    <td th:if="${series.name == 'Formula 1'}" th:text="${race.track.name}"></td>
                    <td th:text="${race.startDate} + ' - ' + ${race.finishDate}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:insert="parts/_footer :: footer"></div>
</body>
</html>