<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<div th:insert="parts/_header :: header"></div>
<div th:insert="parts/_menu :: menu"></div>
<body>
<div style="margin-left:20px" class="ui mini breadcrumb">
    <a class="section" href="/">Home</a>
    <i class="right angle icon divider"></i>
    <a class="section" href="/autosport">Autosport</a>
    <i class="right angle icon divider"></i>
    <a class="section" th:href="@{/autosport/{id}(id=${series.id})}" th:text="${series.name}"></a>
    <i class="right angle icon divider"></i>
    <div class="active section">Archive</div>
</div>

<div class="ui segment">
    <div class="ui grid">
        <div class="three wide column">
            <div th:insert="parts/_sidebar :: sidebar"></div>
        </div>
        <div class="thirteen wide column">
            <h3 class="ui dividing header">
                Archive
            </h3>
            <div class="ui ten column doubling stackable grid container">
                <div class="column">
                    <div class="ui link list">
                        <h3 class="ui dividing header">
                            2020
                        </h3>
                        </h3>
                        <div>
                            <a class="item" >
                                <span>2021</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>2020</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui link list">
                        <h3 class="ui dividing header">
                            2010
                        </h3>
                        </h3>
                        <div>
                            <a class="item" >
                                <span>2019</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>2018</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>2017</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>2016</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>2015</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>2014</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>2013</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>2012</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>2011</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>2010</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui link list">
                        <h3 class="ui dividing header">
                            2000
                        </h3>
                        </h3>
                        <div>
                            <a class="item" >
                                <span>2009</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>2008</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>2007</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>2006</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>2005</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>2004</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>2003</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>2002</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>2001</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>2000</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui link list">
                        <h3 class="ui dividing header">
                            1990
                        </h3>
                        </h3>
                        <div>
                            <a class="item" >
                                <span>1999</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>1998</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>1997</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>1996</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>1995</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>1994</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>1993</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>1992</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>1991</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>1990</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui link list">
                        <h3 class="ui dividing header">
                            1980
                        </h3>
                        </h3>
                        <div>
                            <a class="item" >
                                <span>1989</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>1988</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>1987</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>1986</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>1985</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>1984</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>1983</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>1982</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>1981</span>
                            </a>
                        </div>
                        <div>
                            <a class="item" >
                                <span>1980</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="parts/_footer :: footer"></div>
</body>
</html>