<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      sec:authorize="hasAuthority('ADMIN')">

<div th:insert="parts/_header :: header"></div>
<div th:insert="parts/_menu :: menu"></div>
<body>
<div style="margin-left:20px" class="ui mini breadcrumb">
    <a class="section" href="/">Home</a>
    <i class="right angle icon divider"></i>
    <a class="section" href="/adminPage">Administration</a>
    <i class="right angle icon divider"></i>
    <div class="active section">Track list</div>
</div>

<div class="ui segment">
    <form action="/trackCreate">
        <button class="ui basic button">
            <i class="plus icon"></i>
            Add track
        </button>
    </form>
    <table class="ui striped table">
        <thead>
        <tr>
            <th>id</th>
            <th>Track</th>
            <th>Country</th>
            <th>City</th>
            <th>Year built</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody th:each="track: ${tracks}">
        <tr>
            <td th:text="${track.id}"></td>
            <td th:text="${track.name}"></td>
            <td th:text="${track.country.name}"></td>
            <td th:text="${track.city}"></td>
            <td th:text="${track.yearOfConstruction}"></td>
            <td>
                <a th:href="@{/trackUpdate/{id}(id=${track.id})}">Edit</a>
            </td>
            <td>
                <a th:href="@{/trackDelete/{id}(id=${track.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:insert="parts/_footer :: footer"></div>
</body>
</html>