<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<div th:insert="parts/_header :: header"></div>
<div th:insert="parts/_menu :: menu"></div>

<style type="text/css">
  li {display: inline}
</style>

<body>
<div class="ui segment">
    <div class="ui six stackable cards" >
      <div class="ui card" th:each="spot: ${spots}">
        <div class="content">
          <div class="right floated meta" th:text="${spot.date}"></div>
          <img class="ui avatar image" th:if="#{spot.user}"
               th:src="@{'/img/' + ${spot.user.avatar}}" th:text="${spot.user.username}">
        </div>
        <a class="image" th:href="@{spotOpen/{id}(id=${spot.id})}">
          <img th:src="@{'/img/' + ${spot.photo1}}">
        </a>
        <div class="extra content">
          <a th:href="@{spotOpen/{id}(id=${spot.id})}" th:if="${spot.manufacturer != null && spot.carmodel != null}"
             th:text="${spot.manufacturer.name} + ' ' + ${spot.carmodel.name}"></a>
        </div>
        <div class="extra content" >
          <div class="mini right floated ui left labeled button" tabindex="0" th:if="${spot.meLiked}">
            <div class="ui basic right pointing label" th:text="${spot.likes}">
            </div>
            <a class="mini ui icon button" th:href="@{/spot/{spot}/like(spot=${spot.id})}">
              <i class="red heart icon"></i>
            </a>
          </div>
          <div class="mini right floated ui left labeled button" tabindex="0" th:if="${!spot.meLiked}">
            <div class="ui basic right pointing label" th:text="${spot.likes}">
            </div>
            <a class="mini ui icon button" th:href="@{/spot/{spot}/like(spot=${spot.id})}">
              <i class="heart outline icon"></i>
            </a>
          </div>

          <div class="mini ui right labeled button" tabindex="0">
            <a class="mini ui icon button" th:href="@{spotOpen/{id}(id=${spot.id})}">
              <i class="comment icon"></i>
            </a>
            <div class="ui basic left pointing label"
               th:text="${spot.comments.size() + spot.replies.size()}">
            </div>
          </div>
        </div>
      </div>
    </div>

</div>

<div th:insert="parts/_footer :: footer"></div>

<script>
  $(document).ready(function () {
    console.log("Hello");
  });
</script>

</body>

</html>