<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<body>

<div class="ui inverted vertical footer segment" th:fragment="footer">
    <div class="ui stackable inverted divided equal height stackable grid">
        <div class="five wide column">
            <div class="ui inverted segment">
                <h4 class="ui inverted header">Contact us</h4>
                <div class="ui inverted link list">
                    <div class="item">e-mail: mail@loripin.com</div>
                </div>
            </div>
        </div>
        <div class="six wide column">
            <div class="ui inverted segment">
                <h4 class="ui inverted header">Follow us</h4>
                <div class="ui big horizontal divided list">
                    <div class="item">
                        <a style="color:#FFFFFF;" target="_blank" href="https://instagram.com/loripincom">
                            <i class="large instagram icon"></i>
                        </a>
                    </div>
                    <div class="item">
                        <a style="color:#FFFFFF;" target="_blank" href="https://vk.com/public204418083">
                            <i class="large vk icon"></i>
                        </a>
                    </div>
                    <div class="item">
                        <a style="color:#FFFFFF;" target="_blank" href="https://www.youtube.com/channel/UC6zR2XYODPWa2fR2J3FkMCw">
                            <i class="large youtube icon"></i>
                        </a>
                    </div>
                    <div class="item">
                        <a style="color:#FFFFFF;" target="_blank" href="https://twitter.com/comloripin">
                            <i class="large twitter icon"></i>
                        </a>
                    </div>
                    <div class="item">
                        <a style="color:#FFFFFF;" target="_blank" href="https://t.me/shiro_hayabusa">
                            <i class="large telegram plane icon"></i>
                        </a>
                    </div>
                    <div class="item">
                        <a style="color:#FFFFFF;" target="_blank" href="https://www.facebook.com/loripincom/">
                            <i class="large facebook f icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="five wide column">
            <div class="ui inverted right aligned segment">
                <h4 class="ui inverted header"></h4>
                <div class="ui inverted link list">
                    <!-- <div class="item">Все фотографии принадлежат правообладателям</div> -->
                </div>
                <div>
                    <!--LiveInternet counter--><a href="//www.liveinternet.ru/click"
                                                  target="_blank"><img id="licnt6FBE" width="88" height="31" style="border:0"
                                                                       title="LiveInternet: показано число просмотров за 24 часа, посетителей за 24 часа и за сегодня"
                                                                       src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7"
                                                                       alt=""/></a><script>(function(d,s){d.getElementById("licnt6FBE").src=
                    "//counter.yadro.ru/hit?t20.1;r"+escape(d.referrer)+
                    ((typeof(s)=="undefined")?"":";s"+s.width+"*"+s.height+"*"+
                        (s.colorDepth?s.colorDepth:s.pixelDepth))+";u"+escape(d.URL)+
                    ";h"+escape(d.title.substring(0,150))+";"+Math.random()})
                (document,screen)</script><!--/LiveInternet-->
                </div>
                <div>
                    <!-- Yandex.Metrika informer -->
                    <a href="https://metrika.yandex.ru/stat/?id=69570172&amp;from=informer"
                       target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/69570172/3_0_EFEFEFFF_EFEFEFFF_0_pageviews"
                                                           style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="69570172" data-lang="ru" /></a>
                    <!-- /Yandex.Metrika informer -->

                    <!-- Yandex.Metrika counter -->
                    <script type="text/javascript" >
                        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
                            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
                        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

                        ym(69570172, "init", {
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true,
                            webvisor:true
                        });
                    </script>
                    <noscript><div><img src="https://mc.yandex.ru/watch/69570172" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                    <!-- /Yandex.Metrika counter -->

                </div>

                <p></p>
            </div>
        </div>
    </div>
    <div class="ui inverted divider"></div>
    <div class="ui inverted center aligned segment">
        <p><i class="copyright outline icon"></i>Loripin.com 2021</p>
    </div>
</div>
<script>
    $('[data-fancybox="gallery"]').fancybox({
        buttons: [
            "zoom",
            "share",
            "slideShow",
            "fullScreen",
//"download",
            "thumbs",
            "close"
        ]
    });
</script>
</body>
</html>